.container-fluid{
    background-color: #17baef;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.container-fluid .main-text{
    padding-bottom: 100px;
    font-size: large;
    font-family:'Courier New', Courier, monospace 
}

.container-fluid .logo-text{
    padding-right: 93%;
    padding-bottom: 3%;
    color: white;
    font-size: x-large;
   
}

.main-object{
    background-color: cornsilk;
    width: 50%;
    position: absolute;
    left: 25%;
    align-items: center;
    justify-content: center;

}

.main-object .heading{
    font-size: x-large;
    font-weight: 700;
}
